@model BlogEditViewModel

@{
    ViewData["Title"] = "Edit Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Blog</h2>

@*<partial name="_ActionMessage" model="@Model.Response" />*@


<form method="post" asp-area="Admin" asp-controller="Blog" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Category</label>
        <select asp-for="@Model.CategoryIds" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control">
            <option value="">Please select one</option>
        </select>
        <span asp-validation-for="CategoryIds" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>

</form>


@section Scripts{
    <partial name="richtextEditor/_tinyEditor" />
}
